/*COLORS*/
$blue: #6c748c;
$beige: #f7f1ec;
$green: #787b32;
$light-grey: #e1dacf;
$grey: #8b8885;
$white: #ffffff;
$google-red: #d9534f;

/*MIXINS*/

/*ELEMENT CONSTANTS*/
h3{
  font-weight: 500;
  font-size: 20px;
}

p{
  font-size: 13px;
  font-weight: 400;
  color: $grey;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  text-decoration: none;
  list-style: none;
}

button, label{
  cursor: pointer;
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-beige{
  color: $blue;
  background-color: $beige;
}

.btn-blue{
  color: $beige;
  background-color: $blue;
}

.btn-grey{
  color: $white;
  background-color: $grey;
}

.btn-light-grey{
  color: $blue;
  background-color: $light-grey;
}

input{
  padding: 6px 12px;
  font-weight: normal;
  line-height: 1.428571429;
  border: 1px solid transparent;
}

.no-display{
  display: none;
}

/*DISABLE DEFAULTS*/
button{
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
}

h1, h2, h3, p{
  margin: 0;
  padding: 0;
}
