/*COLORS*/
/*MIXINS*/
/*ELEMENT CONSTANTS*/
h3 {
  font-weight: 500;
  font-size: 20px; }

p {
  font-size: 13px;
  font-weight: 400;
  color: #8b8885; }

button, label {
  cursor: pointer; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-beige {
  color: #6c748c;
  background-color: #f7f1ec; }

.btn-blue {
  color: #f7f1ec;
  background-color: #6c748c; }

.btn-grey {
  color: #ffffff;
  background-color: #8b8885; }

.btn-light-grey {
  color: #6c748c;
  background-color: #e1dacf; }

input {
  padding: 6px 12px;
  font-weight: normal;
  line-height: 1.428571429;
  border: 1px solid transparent; }

.no-display {
  display: none; }

/*DISABLE DEFAULTS*/
button {
  border: 1px solid transparent;
  background-color: transparent;
  outline: none; }

h1, h2, h3, p {
  margin: 0;
  padding: 0; }

html, body, .view-container, .view-frame {
  margin: 0;
  padding: 0;
  font-family: "museo-slab";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-height: 100%; }

.header-container {
  margin-left: 150px;
  color: #f7f1ec;
  height: 60px;
  width: 100%;
  position: fixed; }
  .header-container .header-section {
    background-color: #6c748c;
    height: 60px;
    width: auto; }
    .header-container .header-section button.hamburger {
      height: 40px;
      margin: 10px;
      vertical-align: top; }
    .header-container .header-section .title {
      font-weight: 400;
      display: inline-block;
      vertical-align: top;
      height: 20px;
      margin: 20px 10px; }

.hamburger-bar {
  background-color: #f7f1ec;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 6px 0; }

.sidebar-left {
  position: fixed;
  z-index: 1;
  width: 150px;
  height: 100%;
  background: #8b8885;
  color: #ffffff; }
  .sidebar-left.ng-hide {
    width: 0; }
    .sidebar-left.ng-hide ~ .header-container, .sidebar-left.ng-hide ~ .main-container {
      margin-left: 0px; }

.sidebar-left.ng-hide-add.ng-hide-add-active,
.sidebar-left.ng-hide-remove.ng-hide-remove-active,
.header-container, .main-container {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all; }

.main-container {
  margin-left: 150px;
  background-color: #f7f1ec;
  min-height: 100%;
  padding: 100px 40px 40px 40px;
  box-sizing: border-box; }
  .main-container #todo-list .todo-item {
    margin-bottom: 20px; }
  .main-container #todo-list label.checkbox {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    vertical-align: top;
    width: 45px;
    height: 35px; }
    .main-container #todo-list label.checkbox.checkbox-false {
      background: url("../images/grey_check.png") no-repeat;
      background-size: 30px auto; }
    .main-container #todo-list label.checkbox.checkbox-true {
      background: url("../images/green_check.png") no-repeat;
      background-size: 30px auto; }
  .main-container #todo-list .todo-content {
    display: inline-block;
    vertical-align: top;
    width: 50%; }
    .main-container #todo-list .todo-content .todo-title {
      margin-bottom: 5px; }
  .main-container #todo-list button.delete {
    margin-left: 10px;
    margin-top: 15px; }
  .main-container button.delete img {
    width: 20px; }
  .main-container .add-todo {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 2px dashed #8b8885;
    border-radius: 5px;
    color: #8b8885;
    font-family: inherit; }
  .main-container #todo-form {
    margin-left: 55px;
    margin-top: 40px; }
    .main-container #todo-form .due-date-input {
      display: block;
      width: 120px;
      margin-bottom: 10px;
      margin-right: 7px; }
    .main-container #todo-form .title-input {
      width: 50%;
      display: block;
      margin-bottom: 10px; }
    .main-container #todo-form .details-input {
      display: block;
      width: 50%;
      height: 40px;
      border: 1px solid transparent;
      padding: 6px 12px; }
    .main-container #todo-form .todo-add-btn {
      margin-top: 10px;
      width: 80px; }

#ui-datepicker-div {
  font-size: 12px; }

/*# sourceMappingURL=app.css.map */
