@import 'constants';

.landing-container{
  width: 100%;
  height: 100%;
  background: $blue;
  text-align: center;

  .landing-logo-container{
    height: 400px;
    padding-top: 100px;

    img.logo-img{
      width: 400px;
      display: block;
      margin: auto;
    }

    .landing-logo-img{
      opacity: 1;

      &.ng-hide{
        opacity: 0;
      }
    }

    .landing-logo-img.ng-hide-add.ng-hide-add-active,
    .landing-logo-img.ng-hide-remove.ng-hide-remove-active{
      -webkit-transition: 0.5s linear all;
      -moz-transition: 0.5s linear all;
      -o-transition: 0.5s linear all;
      transition: 0.5s linear all;
    }
  }
}

.google-plus-signin{
  text-decoration: none;
  color: $white;
  background-color: $google-red;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  .google-plus{
    font-family: FontAwesome;

    &:before{
      content: "\f0d5";
    }
  }
}
